.banner {
    margin-top: 20vh;
    height: 70vh;
}

#subtitle {
    font-size: 16px;
    font-family: var(--font-mono);
    color: var(--color-pinkish-red);
}

.section-desc {
    font-size: 16px;
    font-family: var(--font-work-sans);
    color: var(--color-text-primary);
    line-height: 2;
}

h1 {
    font-size: 96px;
    font-family: var(--font-mono);
    font-weight: 700;
    color: var(--color-text-title);
}

h2 {
    font-size: 32px;
    font-family: var(--font-fraunces);
    color: var(--color-text-primary);
}

.section-number {
    font-size: 16px;
    font-family: var(--font-mono);
    font-weight: 700;
    color: var(--color-secondary);
}

.section-line {
    flex: 0.6; 
    height: 1px;
    background-color: var(--color-text-primary);
    opacity: 0.7;
}

.profile-photo {
    max-width: 100%;
    height: auto;
}

.about-me {
    height: 100vh;
}

.experience {
    height: 50vh;
}

#about-me,
#experience,
#projects {
  scroll-margin-top: 500px;
}

#whoami {
    font-family: var(--font-mono);
    font-weight: 700;
    color: var(--color-secondary);

    &::after {
        content: '';
        display: inline-block;
        width: 0.6em;
        height: 1em;
        background-color: var(--color-primary);
        margin-left: 4px;
        vertical-align: baseline;
        transform: translateY(0.15em);
        animation: blink 1s step-end infinite;
    }
}

svg {
    stroke: var(--color-primary);
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 48px;
  row-gap: 24px;
  width: fit-content;
  margin: 0 auto;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 12px;

  svg {
    fill: var(--color-accent);
    flex-shrink: 0;
  }

  span {
    font-family: var(--font-work-sans);
    font-weight: 600;
    color: var(--color-text-primary);
    font-size: 16px;
  }
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}