<div class="banner container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12 d-flex align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                    <p id="whoami" class="mb-0">whoami</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-7 align-items-start justify-content-start ms-4">
                    <h1 id="name" class="m-0">katrina!</h1>
                    <p id="subtitle" class="ms-2">full-stack software developer</p>
                    <p id="desc" class="ms-2">Based in Denver, I will be seen writing code and trying to convince other people that tech belongs to more than just the people in it.</p>
                </div>

                <div class="col-sm-4 align-items-start justify-content-start ms-4">
                    <img src="/assets/banner_photo.png" alt="Katrina Ngo" class="profile-photo">
                </div>
            </div>
        </div>
    </div>
</div>