<div class="banner container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12 d-flex align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                    <p id="whoami" class="mb-0">whoami</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-7 align-items-start justify-content-start ms-4">
                    <h1 id="name" class="m-0">katrina!</h1>
                    <p id="subtitle" class="ms-2">full-stack software developer</p>
                    <p class="section-desc ms-2">Based in Denver, I will be seen writing code and trying to convince other people that tech belongs to more than just the people in it.</p>
                </div>

                <div class="col-sm-4 align-items-start justify-content-start ms-4">
                    <img src="/assets/banner_photo.png" alt="Katrina Ngo" class="profile-photo">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about-me" class="about-me container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12 d-flex align-items-center gap-3 mb-4">
                    <span class="section-number me-4">01</span>
                    <h2>about me</h2>
                    <div class="section-line"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-9 align-items-start justify-content-start ms-4">
                    <p class="section-desc">I am currently a Software Engineer at Medpace, where I help develop internal tools that support clinical analysts across the drug development process. I am also a computer science master’s student at Colorado School of Mines. Some technologies I’ve been working with are:</p>
                </div>

                <div class="row mb-4">
                    <div class="col-sm-6 d-flex justify-content-center">
                        <div class="skills-list">
                            <div class="skill-item">
                                <svg class="leaf" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                                    <path d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/>
                                </svg>
                                <span class="tools-list-item">Python</span>
                            </div>
                            <div class="skill-item">
                                <svg class="leaf" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                                    <path d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/>
                                </svg>
                                <span class="tools-list-item">React.js</span>
                            </div>
                            <div class="skill-item">
                                <svg class="leaf" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                                    <path d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/>
                                </svg>
                                <span class="tools-list-item">Typescript</span>
                            </div>
                            <div class="skill-item">
                                <svg class="leaf" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                                    <path d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/>
                                </svg>
                                <span class="tools-list-item">C#</span>
                            </div>
                            <div class="skill-item">
                                <svg class="leaf" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                                    <path d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/>
                                </svg>
                                <span class="tools-list-item">Javascript</span>
                            </div>
                            <div class="skill-item">
                                <svg class="leaf" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                                    <path d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/>
                                </svg>
                                <span class="tools-list-item">Angular</span>
                            </div>
                            <div class="skill-item">
                                <svg class="leaf" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512">
                                    <path d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/>
                                </svg>
                                <span class="tools-list-item">Java</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-9 align-items-start justify-content-start ms-4">
                    <p class="section-desc">In my free time, I like to sew and partake in arts and crafts to (hopefully) spark inspiration as I learn about different ways to apply tech.</p>
                </div>
            </div>
        </div>
    </div>   
</div>

<div id="experience" class="experience container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12 d-flex align-items-center gap-3 mb-4">
                    <span class="section-number me-4">02</span>
                    <h2>experience</h2>
                    <div class="section-line"></div>
                </div>
            </div>
            <app-experience></app-experience>
        </div>
    </div>
</div>

<div id="projects" class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-8">
            <div class="row">
                <div class="col-sm-12 d-flex align-items-center gap-3 mb-4">
                    <span class="section-number me-4">03</span>
                    <h2>projects</h2>
                    <div class="section-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>