#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-background);
    padding: 1rem 2rem;
}

nav {
    font-family: var(--font-mono);
    font-weight: 700;
    font-size: 18px;
    color: var(--color-text-title);
}

a {
    font-family: var(--font-mono);
    font-weight: 700;
    font-size: 18px;
    color: var(--color-text-title);
    text-decoration: none;
    transition: fill 0.15s ease;

    &:hover {
        color: var(--color-accent);
    }
}

#mail-icon {
    fill: none;
    stroke: var(--color-primary);
    transition: stroke 0.15s ease;
}

a svg {
    fill: var(--color-primary);
    transition: fill 0.1s ease;
}

a:hover svg {
    fill: var(--color-accent);
}

a:hover #mail-icon {
    stroke: var(--color-accent);
}
